body {
    font-size: 36px;
    font-weight: 900;
    font-family: sans-serif;
}

#calculator {
    width: 400px;
}

#display {
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 0px 24px;
}

.row {
    display: flex;
}

.button {
    flex: 1;
    border: 2px solid black;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}